[run]
branch = False
source = myrecall
omit =
    tests/*
    */__main__.py
    myrecall/main.py
    myrecall/client/recorder.py
    myrecall/server/ai_engine.py
    myrecall/server/ocr.py
    myrecall/shared/utils.py
    myrecall/shared/logging_config.py

[report]
show_missing = True
skip_covered = False
fail_under = 80
